* {
	margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  margin:0;
}
header{
  height: 101px;
}
.header {
  margin:0 98px;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 82px;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
  background-color: #EBEBEBed;
  padding: 52px auto 92px auto;
}
.burger {
  width: 40px;
  height: 33px;
  margin-top: auto;
  position: relative;
  cursor: pointer;
  -webkit-transition: all cubic-bezier(.5,.1,.15,1) 250ms;
  -moz-transition: all cubic-bezier(.5,.1,.15,1) 250ms;
  -o-transition: all cubic-bezier(.5,.1,.15,1) 250ms;
  transition: all cubic-bezier(.5,.1,.15,1) 250ms;
}

.burger > span {
  display: block;
  width: 40px;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 15px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.burger > span:before {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  top: -15px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all cubic-bezier(.5,.1,.15,1) 225ms;
  -moz-transition: all cubic-bezier(.5,.1,.15,1) 225ms;
  -o-transition: all cubic-bezier(.5,.1,.15,1) 225ms;
  transition: all cubic-bezier(.5,.1,.15,1) 225ms;
}

.burger > span:after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 15px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all cubic-bezier(.5,.1,.15,1) 225ms;
  -moz-transition: all cubic-bezier(.5,.1,.15,1) 225ms;
  -o-transition: all cubic-bezier(.5,.1,.15,1) 225ms;
  transition: all cubic-bezier(.5,.1,.15,1) 225ms;
}

.burger.active > span:after,
.burger.active > span:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.burger.active > span {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.burger:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.burger.active:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.photo{
  background-color: #eee;
  height: 500px;
}
.text{
  margin:99px 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block1{
  margin-top: 5px;
  min-width: 160px;
  width:27%;
}
.block1 p{
  color: #171717;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  text-align: left;
}
.block1 span{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}
.block2{
  margin-top: 5px;
  min-width: 270px;
  
  width:50%;
}
.block2 pre{
  color: #5F5F5F;
  text-align: justify;
  white-space: pre-line;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
#sign{
  margin-top: 37px;
}
.main_cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:122px 100px;
  background-color: #313131;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  color: #AEAEAE;
}
.main_items{
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  width: 49%;
  min-width: 500px;
}
.item{
  display: flex;
}
.item img{
  max-width: 40px;
  height: 42px;
}
.item-text{
  margin-left: 27px;
}
.item-text p{
  font-size: 18px;
  font-weight: 400;
  
}
.item-text span{
  font-size: 14px;
  font-weight: 500;
  font-stretch: extra-expanded;
  vertical-align: sub;
}
.end{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.end-container{
  width: 42%;
  text-align: center;
  margin:100px auto ;
}
#end1{
  color:#1D1D1D;
  font-size: 38px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
#end2{
  margin: 34px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #5F5F5F;
}
#contact-btn{
  display: none;
}
.button button {
  width: 180px;
  padding: 20px;
  color: #fff;
  background-color: black;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  /* height: 55px; */
  /* width: 181px; */
  /* background-color: #252525; */
  /* color:#FFFFFF; */
  /* margin: auto; */
  /* margin-top: 38px; */
}
.label-btn{
  margin-top: 32px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.icons{
  margin: 52px auto 27px;
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.icons img{
  height: 14px;
}
.ps{
  color: #5F5F5F;
  text-align: center;
  margin: 0 auto 52px;
}

/* @media screen and (max-width: 1200px) {
  header{
    display: none;
  }
} */