* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: indigo;
    padding: 0% 7% 0% 7%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: white;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.band {
    font-family: cursive;
    font-style: italic;
    font-size: 34px;
    width: 50%;
    padding: 2% 3%;
}

.hamburger-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    width: 100%;
}

.menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    width: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__item:hover {
    background-color: #CFD8DC;
}


/* .menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

.menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

.menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu__toggle:checked~.menu__box {
    visibility: visible;
    width: 175px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
} */

.fon {
    width: 100%;
    height: 400px;
}

.content {
    display: flex;
    flex: 1 0 auto;
}

.sidebar {
    display: flex;
    background-image: url(./images/base.png);
    height: 250px;
    color: white;
    align-items: center;
    padding: 2%;
}

.sidebar-item1 {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.sidebar-item2 {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.main {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 5% 3% 20% 3%;
}

.article {
    display: flex;
    flex-direction: column;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 5% 3% 10% 3%;
}

.signs {
    padding-top: 5%;
    width: 175px;
}

.count {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    align-items: center;
    padding-left: 10%;
}

@media screen and (max-width: 620px) {
    .content {
        flex-direction: column
    }
    .sidebar {
        flex-direction: column;
        justify-content: space-evenly
    }
    .sidebar-item1,
    .sidebar-item2 {
        width: 100%;
    }
    .count {
        padding-left: 0;
    }
    .main {
        width: 90%;
        padding: 5% 3% 20% 3%;
        text-align: center;
    }
    .article {
        width: 94%;
        padding: 5% 3% 10% 3%;
        align-items: center;
    }
    .menu__box {
        width: 180px;
    }
}

@media screen and (max-width: 400px) {
    .count {
        flex-direction: column;
    }
    .sidebar {
        height: 350px;
    }
    .font1 {
        text-align: center;
    }
    .sidebar-item1,
    .sidebar-item2 {
        flex-direction: column;
    }
    .count {
        padding-left: 0;
    }
}

.font1 {
    flex-direction: column;
    font-size: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 40px;
    padding: 5% 3% 2% 3%;
    text-align: center;
}

p {
    color: gray;
    padding: 0 3%;
}

.contactMe {
    background-color: black;
    color: white;
    margin: 4% 0 5% 0;
    padding: 2% 3% 2% 3%;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    background-color: rgb(240, 236, 236);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    width: 20px;
    padding: 2%;
    opacity: 0.2;
}

.rights {
    color: gray;
    text-align: center;
}