* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: url(./images/US_US-NY_NYC_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.clearfix ::after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background-color: white;
}

.active {
    display: block;
}

.top-nav {
    background-color: white;
    overflow: hidden;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
}

.top-nav .icon {
    display: none;
}

.menu-item {
    display: inline-block;
    padding: 5%;
}

.flex-container {
    display: flex;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
    height: 50%;
    width: 50%;
    border: 1px solid grey;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    top: 35%;
    left: 25%;
}

.band {
    float: left;
}

.tab-menu {
    float: right;
    width: 45%;
    margin-top: 5%;
}

.container1 {
    padding: 5%;
}

#loading {
    padding: 5% 15% 20% 15%;
    box-sizing: border-box;
    /* border: 2px solid lawngreen; */
}

.container2 {
    padding: 5%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(19, 18, 18, 0.5);
    padding-bottom: 20px;
}

