* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: url(./images/US_US-NY_NYC_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.clearfix ::after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background-color: white;
}

.active {
    display: block;
}

.top-nav {
    background-color: white;
    overflow: hidden;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
}

.top-nav .icon {
    display: none;
}

.menu-item {
    display: inline-block;
    padding: 0% 3%;
}

@media screen and (max-width: 600px) {
    .menu-item {
        padding: 0% 1%;
    }
}

.container {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 4%;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    opacity: 0.9;
    width: 800px;
    border: 1px solid grey;
}

@media screen and (max-width: 900px) {
    .container {
        width: 500px;
    }
}

.band {
    float: left;
}

.tab-menu {
    float: right;
    width: 60%;
    padding-top: 2%;
    text-align: right;
}

.cont-item {
    padding: 5%;
    width: 23.33%;
    float: left;
}

img {
    width: 100%;
}

.loading {
    padding: 5% 5% 20% 5%;
    width: 23.33%;
    float: left;
    text-align: center;
    font-size: 200%;
}

.inform {
    font-size: 200%;
    padding: 2%;
    border-bottom: 1px solid rgb(163, 162, 162);
    margin-bottom: 2%;
}

@media screen and (max-width: 900px) {
    .inform {
        font-size: 175%;
    }
}

@media screen and (max-width: 600px) {
    .inform {
        font-size: 150%;
    }
}

.inform1 {
    font-size: 150%;
    padding: 2%;
}

@media screen and (max-width: 900px) {
    .inform1 {
        font-size: 125%;
    }
}

@media screen and (max-width: 600px) {
    .inform1 {
        font-size: 100%;
    }
}

input {
    width: 100%;
    padding: 3% 0 3% 0;
}

.radio-item {
    display: inline-block;
    padding: 2%;
    margin: 5% 10% 0 0;
    font-size: 100%;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: #eee;
}

.radio-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    background-color: #eee;
}

.radio-item:hover input~.checkmark {
    background-color: #ccc;
}

.radio-item input:checked~.checkmark {
    background-color: #c0c797;
}

.money {
    padding: 2%;
    margin: 2%;
}

.exchange1 {
    padding: 3% 10% 1% 10%;
    font-size: 150%;
    text-align: center;
    clear: both;
}

.exchange2 {
    font-size: 120%;
    color: gray;
    text-align: center;
}

.exchange3 {
    background-color: rgb(37, 92, 241);
    font-size: 200%;
    color: white;
    border-radius: 5px;
    padding: 1% 3% 1% 3%;
}

.exchange4 {
    text-align: center;
    padding-top: 2%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(19, 18, 18, 0.5);
    padding: 1%;
}