* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	font-family: Verdana, arial, sans-serif;
}

body {
	background-image: url(../img/background1.jpg);
	background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 668px;
    position: relative;
	background-size: cover;
}

.main {
	flex: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.container {
	max-width: 1147px;
	margin: 0 auto;
}

.header {
	background-color: white;
	border-bottom: 1px solid #97a8c4;
	padding: 1% 5%;

}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	font-size: 24px;
	display: flex;
}

.nav__burger {
	position: relative;
	display: none;
	content:'';
    width: 20px;
    height: 2px;
    background-color: black;
}

.nav__burger::before {
    position: absolute;
    left: 0;
    top: 5px;
    content: '';
    width: 20px;
    height: 2px;
    background-color: black;
}

.nav__burger::after {
    position: absolute;
    left: 0;
    top: -5px;
    content: '';
    width: 20px;
    height: 2px;
    background-color: black;
}

.nav__link {
	color: #2a2a29;
	text-decoration: none;
	font-weight: 400;
	margin-left: 25px;
}

.main__transaction {
    background-color: #fff;
    opacity: 0.78;
    border: 1px solid #a6b1c6;
    border-radius:9px;
    max-width: 80%;
	margin: 6% auto;
	padding: 3% 5%;

}


.transaction__bottom {
	opacity: 1;
}

.transaction__elements {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	position:relative;
}

.transaction_action {
	padding-bottom: 2%;
	width: 100%;
	border-bottom: 1px solid #e1e1e2;
	font-size: 24px;
	color:#333333 ;
}

.transaction__icons {
	margin: 10% 0 7% 0;
	width: 90%;
}

.transaction__icons-transfer {
	margin-top: 100%;
}

.transaction__designation {
	padding-bottom: 3%;
}

.account__input {
	padding-bottom: 7%;
}

.transaction__left {
	flex-direction: column-reverse;
}

.transaction__center {
	width: 5%;
}

.transaction__unit {
	flex-direction: column;
	width: 30%;
}

.input__pole {
	border: 1px solid #aab4be;
	padding: 3% 7%;
	width: 80%;
}

.currency {
	border: 1px solid #aab4be;
	background-color: white;
	padding: 1%;
}

.currency:active {
	background-color: beige;
}

.transaction__label {
	display: none;
}

.transaction__bottom {
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.transaction__course {
	font-size: 18px;
}

.transaction__commission {
	font-size: 14px;
	color: #333326;
}

.transaction__button {
	border-radius: 8px;
	background-color: rgb(51, 116, 224);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	margin-top: 2%;
	padding: 1% 2.5%;
	border:none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
	color: white;
}

.button__arrows {
	width: 20%;
	margin-right: 3%;
}

.footer {
	display: flex;
	flex: 0 0 auto;
	background-color: rgb(65, 65, 65);
    opacity: .8;
	align-content: center;
	justify-content: center;
	padding: .7% 0;
	color: white;
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.nav__item {
		display: none;
	}
	.nav__burger {
		display: inline;
	}
	.transaction__unit {
		width: 40%;
	}
	.transaction__center {
		width: 10%;
	}
}

@media screen and (max-width: 425px) {
	.main__transaction {
		width: 70%;
	}
	.transaction__elements {
		flex-direction: column;
		align-items:center;
		text-align: center;
	}
	.transaction__left {
		width: 100%;
	}
	.transaction__icons-transfer {
		width: 80%;
		margin: 0;
	}
	.transaction__unit {
		width: 80%;
		margin: 10% 0;
	}
	.transaction__center {
		width: 18%;
	}
	.transaction__button {
		font-size: 27px;
	}
	.transaction__course {
		font-size: 16px;
	}
	.header__logo {
		width: 70%;
	}
	.transaction__commission {
		margin-bottom: 3%;
	}
}
