* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	font-family: Verdana, arial, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-image: url(../img/background1.jpg);
	background-repeat: no-repeat; 
    background-position: top center;
    background-attachment: fixed;
    min-height: 668px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
	max-width: 1147px;
	margin: 0 auto;
}

.header {
	background-color: white;
	border-bottom: 1px solid #97a8c4;
	padding: 1% 5%;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	font-size: 24px;
	display: flex;
}

.nav__link {
	color: #2a2a29;
	text-decoration: none;
	font-weight: 400;
	margin-left: 25px;
}

.main__transaction {
    background-color: #fff;
    opacity: 0.78;
    border: 1px solid #a6b1c6;
    border-radius:9px;
    display: flex;
    max-width: 80%;
	margin: 6% auto;
	padding: 3% 5%;
}



.transaction__elements {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	position:relative;
}

.transaction__left {
	float: left;

}

.transaction__right {
	float: right;

}

.transaction_action {
	border-bottom: 1px solid #e1e1e2;
}


.footer {
	flex: 0 0 auto;
	background-color: rgb(65, 65, 65);
    opacity: .8;
    text-align: center;
	padding: 1% 0;
	color: white;
}