* {
	margin: 0;
	padding: 0;
}
html,body{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./photos/bgelement.png);
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
	min-height: 100%;
}